/build/
/build_boost/
/dist/
/*.egg-info/
pip-wheel-metadata/

# Created by GitEye
/.project

# virtualenv
/venv/
/ENV/

# pytest cache
.cache
.pytest_cache
__pycache__/
.benchmarks

# mypy
.mypy_cache/

# pyd and so
*.pyd
*.so

# wheel files
*.whl

# Coverage report
.coverage
coverage.xml

# pylint
pylint.txt

# bandit
bandit-report.json

secrets*
